/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: rgb(140, 140, 140);
$color_type_1: rgb(164, 70, 98);
$color_type_2: rgb(164, 70, 99);
$color_type_3: rgb(226, 10, 75);
$color_type_4: rgb(25, 25, 25);
$color_type_5: rgb(252, 217, 227);
$color_type_6: rgb(254, 240, 245);
$color_type_7: rgb(255, 245, 248);
$color_type_8: rgb(255, 255, 255);
$color_type_9: rgb(34, 34, 34);
$color_type_10: rgb(89, 89, 89);

$font_type_0: 900 36px/1.33 "Inter", Helvetica, Arial, serif;
$font_type_1: 400 20px/1.2 "Inter", Helvetica, Arial, serif;
$font_type_2: 500 16px/1.25 "Inter", Helvetica, Arial, serif;
$font_type_3: 700 16px/1.2 "Inter", Helvetica, Arial, serif;
$font_type_4: 400 16px/1.2 "Inter", Helvetica, Arial, serif;
$font_type_5: 500 16px/1.2 "Inter", Helvetica, Arial, serif;
$font_type_6: 400 14px/1.42 "Inter", Helvetica, Arial, serif;

.block {
  @include flex-column;
  background-color: $color_type_8;
}
.block.layout {
  position: relative;
  overflow: hidden;
}
.flex {
  @include flex-column;
}
.flex.layout3 {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 935px;
}
.group {
  @include flex-column;
}
.group.layout1 {
  position: relative;
}
.block32 {
  background-color: $color_type_8;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09803921568627451);
}
.block32.layout {
  position: relative;
  height: 80px;
}
.flex1 {
  display: flex;
  @include md {
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
  }
}
.flex1.layout {
  position: absolute;
  top: 22px;
  height: 36px;
  width: 1180px;
  right: 130px;
}
.flex__item {
  @include flex-column;
  position: relative;
  flex: 1 1 129px;
  @include md {
    flex: 0 0 100%;
  }
}
.flex2 {
  display: flex;
}
.flex2.layout {
  position: relative;
  flex-grow: 1;
  margin: 3px 0px;
}
.flex__item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.icon3 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.icon3.layout {
  position: relative;
  height: 30px;
  width: 30px;
  min-width: 30px;
}
.flex__spacer {
  flex: 0 1 10px;
}
.highlights6 {
  @include font-face($font_type_3, $color_type_3, 0px);
  @include lg {
    font-size: 15px;
    text-align: left;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xxs {
    font-size: 12px;
  }
}
.highlights6.layout {
  position: relative;
  flex: 0 0 auto;
  margin: 6px 0px 4px;
}
.flex__spacer1 {
  flex: 0 1 202.5px;
  @include md {
    display: none;
  }
}
.flex__item2 {
  @include flex-column;
  position: relative;
  flex: 1 1 512.5px;
  @include md {
    flex: 0 0 100%;
  }
}
.flex2.layout2 {
  position: relative;
  flex-grow: 1;
  margin: 8px 0px;
}
.flex__item3 {
  @include flex-column;
  position: relative;
  flex: 0 1 73.5px;
}
.flex2.layout1 {
  position: relative;
  flex-grow: 1;
}
.text_body {
  @include h-center-content;
  font: $font_type_6;
  color: $color_type_4;
  text-align: center;
  letter-spacing: 0.4000000059604645px;
  @include md {
    font-size: 13px;
    text-align: center;
  }
  @include xs {
    font-size: 12px;
  }
}
.text_body.layout {
  position: relative;
  flex: 0 0 auto;
}
.flex__spacer2 {
  flex: 0 1 0.5px;
}
.flex__item4 {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.block39 {
  @include flex-column;
}
.block39.layout {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
.image2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.image2.layout {
  position: relative;
  height: 6px;
  width: 10px;
  min-width: 10px;
  margin: 8px 5px 6px;
}
.flex__spacer3 {
  flex: 0 1 34.5px;
}
.flex__item5 {
  @include flex-column;
  position: relative;
  flex: 0 1 93px;
}
.flex__item6 {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.flex__spacer4 {
  flex: 0 1 34px;
}
.flex__item7 {
  @include flex-column;
  position: relative;
  flex: 0 1 116px;
}
.flex__item8 {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.flex__spacer5 {
  flex: 0 1 38px;
}
.flex__item9 {
  @include flex-column;
  position: relative;
  flex: 0 1 123.5px;
}
.text_body1 {
  @include h-center-content;
  font: $font_type_6;
  color: $color_type_4;
  text-align: center;
  letter-spacing: -0.29999999403953553px;
  @include md {
    font-size: 13px;
    text-align: center;
  }
  @include xs {
    font-size: 12px;
  }
}
.text_body1.layout {
  position: relative;
  flex: 0 0 auto;
}
.flex__spacer6 {
  flex: 0 1 2.5px;
}
.flex__item10 {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.flex__spacer7 {
  flex: 0 1 69px;
  @include md {
    display: none;
  }
}
.flex__item11 {
  @include flex-column;
  position: relative;
  flex: 1 1 267px;
  @include md {
    flex: 0 0 100%;
  }
}
.flex__item12 {
  @include flex-column;
  position: relative;
  flex: 0 1 104px;
}
.group.layout {
  position: relative;
  flex-grow: 1;
  margin: 8px 0px;
}
.highlights3 {
  @include h-center-content;
  font: $font_type_2;
  color: $color_type_3;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 15px;
    text-align: center;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xxs {
    font-size: 12px;
  }
}
.highlights3.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px 18px 0px 19px;
  @include lg {
    margin: 0px 16px 0px 17px;
  }
  @include md {
    margin: 0px 13px 0px 14px;
  }
  @include sm {
    margin: 0px 11px 0px 12px;
  }
  @include xs {
    margin: 0px 10px 0px 11px;
  }
  @include xxs {
    margin: 0px 9px 0px 10px;
  }
  @include tn {
    margin: 0px 9px;
  }
}
.flex__spacer8 {
  flex: 0 1 24px;
}
.flex__item13 {
  @include flex-column;
  position: relative;
  flex: 0 1 139px;
}
.cover_block {
  @include flex-column;
  background-color: $color_type_3;
  border-radius: 8px 8px 8px 8px;
}
.cover_block.layout {
  position: relative;
  flex-grow: 1;
}
.highlights4 {
  @include h-center-content;
  font: $font_type_2;
  color: $color_type_8;
  text-align: center;
  letter-spacing: -0.5px;
  @include lg {
    font-size: 15px;
    text-align: center;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xxs {
    font-size: 12px;
  }
}
.highlights4.layout {
  position: relative;
  flex-grow: 1;
  margin: 8px 14.5px;
  @include lg {
    margin: 8px 13px;
  }
  @include md {
    margin: 8px 11px;
  }
  @include sm {
    margin: 8px 9px;
  }
  @include xs {
    margin: 8px;
  }
  @include xxs {
    margin: 8px 7px;
  }
}
.flex.layout2 {
  position: relative;
  width: 80.63%;
  margin: 72px auto 0px;
  @include xl {
    width: 84.73%;
  }
  @include lg {
    width: 88.09%;
  }
  @include md {
    width: 90.8%;
  }
  @include sm {
    width: 92.93%;
  }
  @include xs {
    width: 94.6%;
  }
  @include xxs {
    width: 95.9%;
  }
  @include tn {
    width: 96.89%;
  }
}
.flex.layout {
  position: relative;
  width: 53.4%;
  margin: 0px auto;
  @include sm {
    width: 60.45%;
  }
  @include xs {
    width: 67.09%;
  }
  @include xxs {
    width: 73.11%;
  }
  @include tn {
    width: 78.38%;
  }
}
.hero_title {
  @include h-center-content;
  font: $font_type_0;
  color: $color_type_4;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 32px;
    text-align: center;
  }
  @include md {
    font-size: 29px;
  }
  @include sm {
    font-size: 25px;
  }
  @include xs {
    font-size: 24px;
  }
  @include xxs {
    font-size: 22px;
  }
  @include tn {
    font-size: 21px;
  }
}
.hero_title.layout {
  position: relative;
}
.subtitle {
  @include h-center-content;
  font: $font_type_1;
  color: $color_type_10;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 19px;
    text-align: center;
  }
  @include md {
    font-size: 18px;
  }
  @include sm {
    font-size: 17px;
  }
  @include xxs {
    font-size: 16px;
  }
}
.subtitle.layout {
  position: relative;
  width: 55.65%;
  margin: 16px auto 0px;
  @include xxs {
    width: 62.59%;
  }
  @include tn {
    width: 69.03%;
  }
}
.flex3 {
  display: flex;
  @include lg {
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
  }
}
.flex3.layout {
  position: relative;
  margin: 83px 0px 0px;
}
.flex__item14 {
  @include flex-column;
  position: relative;
  flex: 1 1 110px;
  @include lg {
    flex: 0 0 calc(25% - 12px);
  }
  @include md {
    flex: 0 0 calc(50% - 8px);
  }
  @include xs {
    flex: 0 0 100%;
  }
}
.cover_block1 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px 18px 18px 18px;
}
.cover_block1.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout3 {
  position: relative;
  flex-grow: 1;
  margin: 6px 8px 6px 12px;
  @include lg {
    margin: 6px 7px 6px 11px;
  }
  @include md {
    margin: 6px 6px 6px 9px;
  }
  @include sm {
    margin: 6px 5px 6px 8px;
  }
  @include xs {
    margin: 6px 5px 6px 7px;
  }
  @include xxs {
    margin: 6px 5px 6px 6px;
  }
}
.flex__item15 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.block23 {
  @include flex-column;
  background-color: $color_type_6;
  border-radius: 12px 12px 12px 12px;
}
.block23.layout {
  position: relative;
  flex-grow: 1;
}
.icon2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.icon2.layout {
  position: relative;
  height: 16px;
  width: 16px;
  min-width: 16px;
  margin: 4px;
  @include lg {
    margin: 4px 5px;
  }
}
.flex__spacer9 {
  flex: 0 1 8px;
}
.highlights5 {
  @include h-center-content;
  font: $font_type_4;
  color: $color_type_9;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 15px;
    text-align: center;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xxs {
    font-size: 12px;
  }
}
.highlights5.layout {
  position: relative;
  flex: 0 0 auto;
  margin: 1px 0px 3px;
}
.flex__spacer10 {
  flex: 0 1 12px;
  @include lg {
    display: flex;
    flex: 0 0 16px;
  }
  @include xs {
    display: none;
  }
}
.flex__item16 {
  @include flex-column;
  position: relative;
  flex: 1 1 128px;
  @include lg {
    flex: 0 0 calc(25% - 12px);
  }
  @include md {
    flex: 0 0 calc(50% - 8px);
  }
  @include xs {
    flex: 0 0 100%;
  }
}
.cover_block2 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px 18px 18px 18px;
}
.cover_block2.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout4 {
  position: relative;
  flex-grow: 1;
  margin: 6px 6.5px 6px 12px;
  @include lg {
    margin: 6px 6px 6px 11px;
  }
  @include md {
    margin: 6px 5px 6px 9px;
  }
  @include sm {
    margin: 6px 5px 6px 8px;
  }
  @include xs {
    margin: 6px 5px 6px 7px;
  }
  @include xxs {
    margin: 6px 5px 6px 6px;
  }
}
.flex__item17 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.flex__spacer11 {
  flex: 0 1 6.5px;
}
.flex__spacer12 {
  flex: 0 1 12px;
  @include lg {
    display: flex;
    flex: 0 0 16px;
  }
  @include md {
    display: none;
  }
}
.flex__item18 {
  @include flex-column;
  position: relative;
  flex: 1 1 103px;
  @include lg {
    flex: 0 0 calc(25% - 12px);
  }
  @include md {
    flex: 0 0 calc(50% - 8px);
  }
  @include xs {
    flex: 0 0 100%;
  }
}
.cover_block3 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px 18px 18px 18px;
}
.cover_block3.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout5 {
  position: relative;
  flex-grow: 1;
  margin: 6px 7.5px 6px 12px;
  @include lg {
    margin: 6px 7px 6px 11px;
  }
  @include md {
    margin: 6px 6px 6px 9px;
  }
  @include sm {
    margin: 6px 5px 6px 8px;
  }
  @include xs {
    margin: 6px 5px 6px 7px;
  }
  @include xxs {
    margin: 6px 5px 6px 6px;
  }
}
.flex__item19 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.flex__spacer13 {
  flex: 0 1 7.5px;
}
.flex__item20 {
  @include flex-column;
  position: relative;
  flex: 1 1 114px;
  @include lg {
    flex: 0 0 calc(25% - 12px);
  }
  @include md {
    flex: 0 0 calc(50% - 8px);
  }
  @include xs {
    flex: 0 0 100%;
  }
}
.cover_block4 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px 18px 18px 18px;
}
.cover_block4.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout6 {
  position: relative;
  flex-grow: 1;
  margin: 6px 7px 6px 12px;
  @include lg {
    margin: 6px 6px 6px 11px;
  }
  @include md {
    margin: 6px 5px 6px 9px;
  }
  @include sm {
    margin: 6px 5px 6px 8px;
  }
  @include xs {
    margin: 6px 5px 6px 7px;
  }
  @include xxs {
    margin: 6px 5px 6px 6px;
  }
}
.flex__item21 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.flex__spacer14 {
  flex: 0 1 7px;
}
.flex__spacer15 {
  flex: 0 1 12px;
  @include lg {
    display: none;
  }
}
.flex__item22 {
  @include flex-column;
  position: relative;
  flex: 1 1 155px;
  @include lg {
    flex: 0 0 calc(25% - 12px);
  }
  @include md {
    flex: 0 0 calc(50% - 8px);
  }
  @include xs {
    flex: 0 0 100%;
  }
}
.cover_block5 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px 18px 18px 18px;
}
.cover_block5.layout {
  position: relative;
  flex-grow: 1;
}
.flex__item23 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.flex__spacer16 {
  flex: 0 1 7px;
}
.flex__item24 {
  @include flex-column;
  position: relative;
  flex: 1 1 116px;
  @include lg {
    flex: 0 0 calc(25% - 12px);
  }
  @include md {
    flex: 0 0 calc(50% - 8px);
  }
  @include xs {
    flex: 0 0 100%;
  }
}
.cover_block6 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px 18px 18px 18px;
}
.cover_block6.layout {
  position: relative;
  flex-grow: 1;
}
.flex__item25 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.flex__spacer17 {
  flex: 0 1 7.5px;
}
.flex__item26 {
  @include flex-column;
  position: relative;
  flex: 1 1 178px;
  @include lg {
    flex: 0 0 calc(25% - 12px);
  }
  @include md {
    flex: 0 0 calc(50% - 8px);
  }
  @include xs {
    flex: 0 0 100%;
  }
}
.cover_block7 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px 18px 18px 18px;
}
.cover_block7.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout7 {
  position: relative;
  flex-grow: 1;
  margin: 6px 5px 6px 12px;
  @include lg {
    margin: 6px 5px 6px 11px;
  }
  @include md {
    margin: 6px 5px 6px 9px;
  }
  @include sm {
    margin: 6px 5px 6px 8px;
  }
  @include xs {
    margin: 6px 5px 6px 7px;
  }
  @include xxs {
    margin: 6px 5px 6px 6px;
  }
}
.flex__item27 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.flex__spacer18 {
  flex: 0 1 5px;
}
.flex__item28 {
  @include flex-column;
  position: relative;
  flex: 1 1 173px;
  @include lg {
    flex: 0 0 calc(25% - 12px);
  }
  @include md {
    flex: 0 0 calc(50% - 8px);
  }
  @include xs {
    flex: 0 0 100%;
  }
}
.cover_block8 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 18px 18px 18px 18px;
}
.cover_block8.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout8 {
  position: relative;
  flex-grow: 1;
  margin: 6px 4px 6px 12px;
  @include lg {
    margin: 6px 5px 6px 11px;
  }
  @include md {
    margin: 6px 5px 6px 9px;
  }
  @include sm {
    margin: 6px 5px 6px 8px;
  }
  @include xs {
    margin: 6px 5px 6px 7px;
  }
  @include xxs {
    margin: 6px 5px 6px 6px;
  }
}
.flex__item29 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.flex__spacer19 {
  flex: 0 1 4px;
}
.group1 {
  @include flex-column;
}
.group1.layout {
  position: relative;
  width: 53.4%;
  margin: 24px auto 0px;
  @include sm {
    width: 60.45%;
  }
  @include xs {
    width: 67.09%;
  }
  @include xxs {
    width: 73.11%;
  }
  @include tn {
    width: 78.38%;
  }
}
.flex__item30 {
  @include flex-column;
  position: relative;
  flex: 0 1 320px;
}
.block17 {
  @include flex-column;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px 8px 8px 8px;
}
.block17.layout {
  position: relative;
  overflow: hidden;
  height: 44px;
}
.flex2.layout9 {
  position: absolute;
  top: 11px;
  height: 20px;
  left: 19px;
  width: 183px;
}
.flex__item31 {
  @include flex-column;
  position: relative;
  flex: 0 1 14px;
}
.icon1 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.icon1.layout {
  position: relative;
  height: 14px;
  width: 14px;
  min-width: 14px;
  margin: 4px 0px 2px;
}
.flex__spacer20 {
  flex: 0 1 13px;
}
.highlights2 {
  @include font-face($font_type_4, $color_type_0, 0px);
  @include lg {
    font-size: 15px;
    text-align: left;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xxs {
    font-size: 12px;
  }
}
.highlights2.layout {
  position: relative;
  flex: 0 0 auto;
}
.flex__spacer21 {
  flex: 0 1 12px;
}
.flex__item32 {
  @include flex-column;
  position: relative;
  flex: 0 1 131px;
}
.cover_block15 {
  @include flex-column;
  background-color: $color_type_7;
  border-radius: 8px 8px 8px 8px;
}
.cover_block15.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout10 {
  position: relative;
  flex-grow: 1;
  margin: 10px 12.5px 10px 16px;
  @include lg {
    margin: 10px 11px 10px 14px;
  }
  @include md {
    margin: 10px 9px 10px 12px;
  }
  @include sm {
    margin: 10px 8px 10px 10px;
  }
  @include xs {
    margin: 10px 7px 10px 9px;
  }
  @include xxs {
    margin: 10px 6px 10px 8px;
  }
}
.flex__item33 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.block19 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.block19.layout {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
}
.flex__spacer22 {
  flex: 0 1 12.5px;
}
.highlights3.layout1 {
  position: relative;
  flex: 0 0 auto;
  margin: 2px 0px;
}
.flex__item34 {
  @include flex-column;
  position: relative;
  flex: 0 1 145px;
}
.cover_block10 {
  @include flex-column;
  background-color: $color_type_3;
  border-radius: 8px 8px 8px 8px;
}
.cover_block10.layout {
  position: relative;
  flex-grow: 1;
}
.group.layout2 {
  position: relative;
  flex-grow: 1;
  margin: 8px 16px;
  @include lg {
    margin: 8px 14px;
  }
  @include md {
    margin: 8px 12px;
  }
  @include sm {
    margin: 8px 10px;
  }
  @include xs {
    margin: 8px 9px;
  }
  @include xxs {
    margin: 8px;
  }
}
.highlights41 {
  @include h-center-content;
  font: $font_type_2;
  color: $color_type_8;
  text-align: center;
  letter-spacing: -0.7px;
  @include lg {
    font-size: 15px;
    text-align: center;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xxs {
    font-size: 12px;
  }
}
.highlights41.layout {
  position: relative;
  flex-grow: 1;
  margin: 4px 1.5px 4px 2.5px;
  @include lg {
    margin: 4px 5px;
  }
}
.flex.layout1 {
  position: relative;
  width: 53.4%;
  margin: 54px auto 0px;
  @include sm {
    width: 60.45%;
  }
  @include xs {
    width: 67.09%;
  }
  @include xxs {
    width: 73.11%;
  }
  @include tn {
    width: 78.38%;
  }
}
.flex2.layout13 {
  position: relative;
}
.flex__item35 {
  @include flex-column;
  position: relative;
  flex: 0 1 196px;
}
.cover_block13 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(182, 124, 142);
  border-radius: 17px 17px 17px 17px;
}
.cover_block13.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout11 {
  position: relative;
  flex-grow: 1;
  margin: 6px 9px 8px;
  @include lg {
    margin: 6px 8px 8px;
  }
  @include md {
    margin: 6px 7px 8px;
  }
  @include sm {
    margin: 6px 6px 8px;
  }
  @include xs {
    margin: 6px 5px 8px;
  }
}
.flex__item36 {
  @include flex-column;
  position: relative;
  flex: 0 1 42px;
}
.block4 {
  @include flex-column;
}
.block4.layout {
  position: relative;
  flex-grow: 1;
}
.highlights {
  @include h-center-content;
  font: $font_type_5;
  color: $color_type_1;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 15px;
    text-align: center;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xxs {
    font-size: 12px;
  }
}
.highlights.layout {
  position: relative;
  flex-grow: 1;
}
.flex__spacer23 {
  flex: 0 1 117px;
}
.flex__item37 {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.block5 {
  @include flex-column;
  background-color: $color_type_5;
  border-radius: 8px 8px 8px 8px;
}
.block5.layout {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  margin: 3px 0px 1px;
}
.block6 {
  @include flex-column;
  background: var(--src) center center / cover no-repeat;
}
.block6.layout {
  position: relative;
  overflow: hidden;
  height: 10px;
  margin: 3px;
  @include lg {
    margin: 3px 5px;
  }
}
.flex__spacer24 {
  flex: 0 1 16px;
}
.cover_block12 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(182, 124, 142);
  border-radius: 17px 17px 17px 17px;
}
.cover_block12.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout12 {
  position: relative;
  flex-grow: 1;
  margin: 6px 7px 8px;
  @include lg {
    margin: 6px 6px 8px;
  }
  @include md {
    margin: 6px 5px 8px;
  }
}
.flex__item38 {
  @include flex-column;
  position: relative;
  flex: 0 1 143px;
}
.block8 {
  @include flex-column;
}
.block8.layout {
  position: relative;
  flex-grow: 1;
}
.highlights1 {
  @include h-center-content;
  font: $font_type_5;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 15px;
    text-align: center;
  }
  @include md {
    font-size: 14px;
  }
  @include sm {
    font-size: 13px;
  }
  @include xxs {
    font-size: 12px;
  }
}
.highlights1.layout {
  position: relative;
  flex-grow: 1;
}
.flex__spacer25 {
  flex: 0 1 18px;
}
.flex__item39 {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.cover_block11 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(182, 124, 142);
  border-radius: 17px 17px 17px 17px;
}
.cover_block11.layout {
  position: relative;
  flex-grow: 1;
}
.flex__item40 {
  @include flex-column;
  position: relative;
  flex: 0 1 73px;
}
.block10 {
  @include flex-column;
}
.block10.layout {
  position: relative;
  flex-grow: 1;
}
.flex__spacer26 {
  flex: 0 1 86px;
}
.flex__item41 {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.block5.layout1 {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  margin: 3px 0px 1px;
  @include xxl {
    display: flex;
  }
}
.flex2.layout16 {
  position: relative;
  margin: 16px 0px 0px;
}
.flex__item42 {
  @include flex-column;
  position: relative;
  flex: 0 1 196px;
}
.cover_block14 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(182, 124, 142);
  border-radius: 17px 17px 17px 17px;
}
.cover_block14.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout14 {
  position: relative;
  flex-grow: 1;
  margin: 6px 6.5px 8px;
  @include lg {
    margin: 6px 6px 8px;
  }
  @include md {
    margin: 6px 5px 8px;
  }
}
.flex__item43 {
  @include flex-column;
  position: relative;
  flex: 0 1 108px;
}
.block13 {
  @include flex-column;
}
.block13.layout {
  position: relative;
  flex-grow: 1;
}
.flex__spacer27 {
  flex: 0 1 53.5px;
}
.flex__item44 {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.flex__spacer28 {
  flex: 0 1 16px;
}
.cover_block151 {
  @include flex-column;
  background-color: $color_type_8;
  border: 1px solid rgb(182, 124, 142);
  border-radius: 17px 17px 17px 17px;
}
.cover_block151.layout {
  position: relative;
  flex-grow: 1;
}
.flex2.layout15 {
  position: relative;
  flex-grow: 1;
  margin: 6px 7.5px 8px;
  @include lg {
    margin: 6px 7px 8px;
  }
  @include md {
    margin: 6px 6px 8px;
  }
  @include sm {
    margin: 6px 5px 8px;
  }
}
.flex__item45 {
  @include flex-column;
  position: relative;
  flex: 0 1 106px;
}
.block15 {
  @include flex-column;
}
.block15.layout {
  position: relative;
  flex-grow: 1;
}
.flex__spacer29 {
  flex: 0 1 54.5px;
}
.flex__item46 {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
