<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <div class="container">
      <h1>Register</h1>
      <p>Please fill this form to create an account.</p>
      <hr>
      <label for="psw"><b>New Password</b></label>
      <input type="password" placeholder="Enter Password" name="new_password" id="new_password" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="re_new_password" id="re_new_password"
        required>
      <hr>

      <button type="submit" class="registerbtn">Register</button>
    </div>

  </form>