<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Home1.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="home1 block layout">
      <div class="flex layout3">
        <div class="group layout1">
          <div class="block32 layout"></div>
          <div class="flex1 layout">
            <div class="flex__item">
              <div class="flex2 layout">
                <div class="flex__item1">
                  <img src="/assets/422e0cf7ae8b24bd9cb8371b2d193577.png" alt="" class="icon3 layout" />
                </div>
                <div class="spacer flex__spacer"></div>
                <h5 class="highlights6 layout">KE COMER</h5>
              </div>
            </div>
            <div class="spacer flex__spacer1"></div>
            <div class="flex__item2">
              <div class="flex2 layout2">
                <div class="flex__item3">
                  <div class="flex2 layout1">
                    <div class="text_body layout">Carnes</div>
                    <div class="spacer flex__spacer2"></div>
                    <div class="flex__item4">
                      <div class="block39 layout">
                        <img src="/assets/29a4294ae89fb5d65f4e755970dd55e0.png" alt="" class="image2 layout" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="spacer flex__spacer3"></div>
                <div class="flex__item5">
                  <div class="flex2 layout1">
                    <div class="text_body layout">Vegetales</div>
                    <div class="flex__item6">
                      <div class="block39 layout">
                        <img src="/assets/29a4294ae89fb5d65f4e755970dd55e0.png" alt="" class="image2 layout" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="spacer flex__spacer4"></div>
                <div class="flex__item7">
                  <div class="flex2 layout1">
                    <div class="text_body layout">Condimentos</div>
                    <div class="flex__item8">
                      <div class="block39 layout">
                        <img src="/assets/29a4294ae89fb5d65f4e755970dd55e0.png" alt="" class="image2 layout" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="spacer flex__spacer5"></div>
                <div class="flex__item9">
                  <div class="flex2 layout1">
                    <div class="text_body1 layout">Más categorías</div>
                    <div class="spacer flex__spacer6"></div>
                    <div class="flex__item10">
                      <div class="block39 layout">
                        <img src="/assets/29a4294ae89fb5d65f4e755970dd55e0.png" alt="" class="image2 layout" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="spacer flex__spacer7"></div>
            <div class="flex__item11">
              <div class="flex2 layout1">
                <div class="flex__item12">
                  <div class="group layout"><h5 class="highlights3 layout">Ingresar</h5></div>
                </div>
                <div class="spacer flex__spacer8"></div>
                <div class="flex__item13">
                  <div class="cover_block layout"><h5 class="highlights4 layout">Crea tu cuenta</h5></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex layout2">
          <div class="flex layout">
            <h1 class="hero_title layout">¡Hola! Ingresa los ingredientes y te decimos qué podes preparar</h1>
            <h3 class="subtitle layout">Podes ingresar hasta 5 ingredientes</h3>
          </div>
          <div class="flex3 layout">
            <div class="flex__item14">
              <div class="cover_block1 layout">
                <div class="flex2 layout3">
                  <div class="flex__item15">
                    <div class="block23 layout">
                      <img src="/assets/946600c0f821499bb81adba6b521b992.png" alt="" class="icon2 layout" />
                    </div>
                  </div>
                  <div class="spacer flex__spacer9"></div>
                  <h5 class="highlights5 layout">Carnes</h5>
                </div>
              </div>
            </div>
            <div class="spacer flex__spacer10"></div>
            <div class="flex__item16">
              <div class="cover_block2 layout">
                <div class="flex2 layout4">
                  <div class="flex__item17">
                    <div class="block23 layout">
                      <img src="/assets/625c044e210e3d09af72a64652263ee6.png" alt="" class="icon2 layout" />
                    </div>
                  </div>
                  <div class="spacer flex__spacer11"></div>
                  <h5 class="highlights5 layout">Vegetales</h5>
                </div>
              </div>
            </div>
            <div class="spacer flex__spacer12"></div>
            <div class="flex__item18">
              <div class="cover_block3 layout">
                <div class="flex2 layout5">
                  <div class="flex__item19">
                    <div class="block23 layout">
                      <img src="/assets/f466dbb056de427239a800d84806d49b.png" alt="" class="icon2 layout" />
                    </div>
                  </div>
                  <div class="spacer flex__spacer13"></div>
                  <h5 class="highlights5 layout">Frutas</h5>
                </div>
              </div>
            </div>
            <div class="spacer flex__spacer10"></div>
            <div class="flex__item20">
              <div class="cover_block4 layout">
                <div class="flex2 layout6">
                  <div class="flex__item21">
                    <div class="block23 layout">
                      <img src="/assets/f689b5163ee699dbcc2a8a0e16280e26.png" alt="" class="icon2 layout" />
                    </div>
                  </div>
                  <div class="spacer flex__spacer14"></div>
                  <h5 class="highlights5 layout">Lácteos</h5>
                </div>
              </div>
            </div>
            <div class="spacer flex__spacer15"></div>
            <div class="flex__item22">
              <div class="cover_block5 layout">
                <div class="flex2 layout6">
                  <div class="flex__item23">
                    <div class="block23 layout">
                      <img src="/assets/9d2f21d0902812d641cc93105d3b9b6e.png" alt="" class="icon2 layout" />
                    </div>
                  </div>
                  <div class="spacer flex__spacer16"></div>
                  <h5 class="highlights5 layout">Condimentos</h5>
                </div>
              </div>
            </div>
            <div class="spacer flex__spacer10"></div>
            <div class="flex__item24">
              <div class="cover_block6 layout">
                <div class="flex2 layout5">
                  <div class="flex__item25">
                    <div class="block23 layout">
                      <img src="/assets/59dfceab84f1404caa641f437e8965ad.png" alt="" class="icon2 layout" />
                    </div>
                  </div>
                  <div class="spacer flex__spacer17"></div>
                  <h5 class="highlights5 layout">Bebidas</h5>
                </div>
              </div>
            </div>
            <div class="spacer flex__spacer12"></div>
            <div class="flex__item26">
              <div class="cover_block7 layout">
                <div class="flex2 layout7">
                  <div class="flex__item27">
                    <div class="block23 layout">
                      <img src="/assets/51a7ec3d398a47ab52d5420e65e1b947.png" alt="" class="icon2 layout" />
                    </div>
                  </div>
                  <div class="spacer flex__spacer18"></div>
                  <h5 class="highlights5 layout">Harinas y granos</h5>
                </div>
              </div>
            </div>
            <div class="spacer flex__spacer10"></div>
            <div class="flex__item28">
              <div class="cover_block8 layout">
                <div class="flex2 layout8">
                  <div class="flex__item29">
                    <div class="block23 layout">
                      <img src="/assets/2c48910ea3e5d9b44123f8b5d374988a.png" alt="" class="icon2 layout" />
                    </div>
                  </div>
                  <div class="spacer flex__spacer19"></div>
                  <h5 class="highlights5 layout">Grasas y aceites</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="group1 layout">
            <div class="flex2 layout1">
              <div class="flex__item30">
                <div class="block17 layout">
                  <div class="flex2 layout9">
                    <div class="flex__item31">
                      <img src="/assets/b2d9e66172903efd466bbdcc28cf1298.png" alt="" class="icon1 layout" />
                    </div>
                    <div class="spacer flex__spacer20"></div>
                    <h5 class="highlights2 layout">Ingresar ingrediente</h5>
                  </div>
                </div>
              </div>
              <div class="spacer flex__spacer21"></div>
              <div class="flex__item32">
                <div class="cover_block15 layout">
                  <div class="flex2 layout10">
                    <div class="flex__item33">
                      <img src="/assets/be220bf4a114a8bbd32a4500ff217900.png" alt="" class="block19 layout" />
                    </div>
                    <div class="spacer flex__spacer22"></div>
                    <h5 class="highlights3 layout1">Agregar</h5>
                  </div>
                </div>
              </div>
              <div class="spacer flex__spacer21"></div>
              <div class="flex__item34">
                <div class="cover_block10 layout">
                  <div class="group layout2"><h5 class="highlights41 layout">Buscar recetas</h5></div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex layout1">
            <div class="flex2 layout13">
              <div class="flex__item35">
                <div class="cover_block13 layout">
                  <div class="flex2 layout11">
                    <div class="flex__item36">
                      <div class="block4 layout"><h5 class="highlights layout">Pollo</h5></div>
                    </div>
                    <div class="spacer flex__spacer23"></div>
                    <div class="flex__item37">
                      <div class="block5 layout">
                        <div
                          style="--src:url(/assets/25573f814049c71b6f36a25929c1ad0f.png)"
                          class="block6 layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spacer flex__spacer24"></div>
              <div class="flex__item35">
                <div class="cover_block12 layout">
                  <div class="flex2 layout12">
                    <div class="flex__item38">
                      <div class="block8 layout"><h5 class="highlights1 layout">Cebolla de verdeo</h5></div>
                    </div>
                    <div class="spacer flex__spacer25"></div>
                    <div class="flex__item39">
                      <div class="block5 layout">
                        <div
                          style="--src:url(/assets/25573f814049c71b6f36a25929c1ad0f.png)"
                          class="block6 layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spacer flex__spacer24"></div>
              <div class="flex__item35">
                <div class="cover_block11 layout">
                  <div class="flex2 layout11">
                    <div class="flex__item40">
                      <div class="block10 layout"><h5 class="highlights1 layout">Cúrcuma</h5></div>
                    </div>
                    <div class="spacer flex__spacer26"></div>
                    <div class="flex__item41">
                      <div class="block5 layout1">
                        <div
                          style="--src:url(/assets/25573f814049c71b6f36a25929c1ad0f.png)"
                          class="block6 layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex2 layout16">
              <div class="flex__item42">
                <div class="cover_block14 layout">
                  <div class="flex2 layout14">
                    <div class="flex__item43">
                      <div class="block13 layout"><h5 class="highlights1 layout">Arroz integral</h5></div>
                    </div>
                    <div class="spacer flex__spacer27"></div>
                    <div class="flex__item44">
                      <div class="block5 layout">
                        <div
                          style="--src:url(/assets/25573f814049c71b6f36a25929c1ad0f.png)"
                          class="block6 layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spacer flex__spacer28"></div>
              <div class="flex__item42">
                <div class="cover_block151 layout">
                  <div class="flex2 layout15">
                    <div class="flex__item45">
                      <div class="block15 layout"><h5 class="highlights1 layout">Queso crema</h5></div>
                    </div>
                    <div class="spacer flex__spacer29"></div>
                    <div class="flex__item46">
                      <div class="block5 layout">
                        <div
                          style="--src:url(/assets/25573f814049c71b6f36a25929c1ad0f.png)"
                          class="block6 layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
